canvas{
    width: 90% !important;
    height: auto !important;
}


html,
body {
  width: 100%;
  height: 100%;
}

.stock-button{
  position:relative;
  padding-left: 16px;
  padding-right:16px;
  margin:10px;
}
.close-button:after {
  content: '✖'; 
  position:absolute;
  margin-top:-10px;
  margin-left:3px;
}

#stock-list{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}